{% extends "./layouts/spa.html" %}



{% block styles %}
    <link href=/public/spa_asset/product/css/app.f2472f8b9d69574e6b6c61e45b8ad64a.css rel=stylesheet>
{% endblock %}


{% block scripts %}
    <script type=text/javascript src=/public/spa_asset/product/js/manifest.7fed4d449986f35b43eb.js></script>
    <script type=text/javascript src=/public/spa_asset/product/js/vendor.ff7cdf97e3615c046574.js></script>
    <script type=text/javascript src=/public/spa_asset/product/js/app.8400d2010b1f5631c7fb.js></script>
{% endblock %}