{% extends "./layouts/spa.html" %}



{% block styles %}
    <link href=/public/spa_asset/user/css/app.f2472f8b9d69574e6b6c61e45b8ad64a.css rel=stylesheet>
{% endblock %}


{% block scripts %}
    <script type=text/javascript src=/public/spa_asset/user/js/manifest.e51db8420aa01156fb20.js></script>
    <script type=text/javascript src=/public/spa_asset/user/js/vendor.38e66e7b661415c7fb07.js></script>
    <script type=text/javascript src=/public/spa_asset/user/js/app.6703391102327b90651d.js></script>
{% endblock %}